@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #8ab6af;
    color: #110808;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #04b2dd;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

nav {
    background-color: #07b8e4;
    padding: 10px 0;
    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        justify-content: center;
        list-style: none;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.container {
    display: flex;
    min-height: 50vh;
}

aside {
    width: 200px;
    padding: 1.5rem;
    border: 1px solid #ddd;
}

main {
    padding: 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2,45%);
    gap: 1.5rem;
}

.product-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 10px 10px 20px rgba(1, 8, 5, 0.1);
    img {
        width: 100%;
    }
    button {
        float: right;
        background-color: #04b2dd;
        color: white;
        padding: 2px;
        border-radius: 2px;
        transition: 1s ease;
    }
    button:hover {
        background-color: #07b8e4;
        color: rgb(153, 18, 18);
        cursor: pointer;
    }
}

footer {
    background-color: #04b2dd;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
}